<div class="container">

    <h1><%= currentUser.name %></h1>
    <div class="image-container">
    <img src="<%= currentUser.avatar%>"  class="img-thumbnail"/>
  </div>
    <div class="row-fluid">
      <div class="profile">Email:</div>
      <div class="profile"><%= currentUser.email %></div>

    </div>
    <div class="row-fluid">
      <div class="profile">Member Since:</div>
      <div class="profile"><%= registration %></div>
    </div>

    </div>
