<div class="container">

    <h1><%= currentUser.name %></h1>
    <img src="images/avatar.jpg"  class="img-thumbnail" width="304" alt="" />
    <div class="row-fluid">
      <div class="profile">Email:</div>
      <div class="profile"><%= currentUser.email %></div>

    </div>
    <div class="row-fluid">
      <div class="profile">Member Since:</div>
      <div class="profile"><%= registration %></div>
    </div>



    </div>
