<div class="container">
  <h1>Add a new product</h1>

  <form action="/product/new" method="post">
    <div class="form-group">
      <label for="upc">Unique Product Code</label>
      <input id="upc" class="form-control" type="text" name="upc">
    </div>

    <div class="form-group">
      <label for="name">Product name</label>
      <input id="name" class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <input id="category" class="form-control" type="text" name="category">
    </div>

    <div class="form-group">
      <label for="costPrice">Cost Price</label>
      <input id="costPrice" class="form-control" type="text" name="costPrice">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
