body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('https://heavyeditorial.files.wordpress.com/2013/03/cool-simple-and-minimalist-desktop-wallpaper-the-police-box-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.navbar-custom  {
  background-color: #919BAB;;
  color: white;
  border: 0px;
}

.listingtitle {
  font-size: 18px;
  font-weight: bold;
}

.listing{
  float:right;
  overflow: visible;
}

.navlinkdiv{
  clear:both;
}

.navlinkdiv a {
  color: black;
}

.nav-links {
  font-size: 18px;
  color: red;
  background-color: transparent;
}

.alert {
  margin-top: -20px;
}

.profile {
  width: 180px;
  margin: 0 auto;
  display: inline-block;
  font-size: 130%;
  padding: 10px;
}

.image-container {
  max-width:200px;
}

.container {
  margin: 0 auto;
  position: relative;
}

.login-container {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}

div {
  /*border:2px solid black;*/
}

th, td {
  /*border: 1px solid black;*/
  padding: 0.6em;
  text-align: center;
  font-size: 16px;
}

th{
  font-weight: bold;
  font-size: 20px;
}

#home-container {
    position:absolute;
    width:100%;
}

#home-container img {
  position: absolute;
  opacity: 0.3;
  top: 0;
  margin-top: -20px;
  width: 100%;
  height: auto;
  z-index: -1;
}
