body {
  font-family: 'Open Sans', sans-serif;
  background-color: #b37853;
}

.navblue {
  background-color: #e8ad5a;
  color: white;
  border: 0px;
}

.alert {
  margin-top: -20px;
}

.profile {
  width: 180px;
  margin: 0 auto;
  display: inline-block;
  font-size: 130%;
  /*color: white;*/
  padding: 10px;
}

div {
  /*border:2px solid black;*/
}
