body {
  font-family: 'Open Sans', sans-serif;
  background-color: #b37853;
}

.navblue {
  background-color: #919BAB;;
  color: red;
  border: 0px;
}

.alert {
  margin-top: -20px;
}

.profile {
  width: 180px;
  margin: 0 auto;
  display: inline-block;
  font-size: 130%;
  /*color: white;*/
  padding: 10px;
}

.image-container {
  max-width:200px;
}

.container {
  margin: 0 auto;
  position: relative;

}

div {
  /*border:2px solid black;*/
}

th, td {
  /*border: 1px solid black;*/
  padding: 0.6em;
  text-align: center;
  font-size: 16px;
}

th{
  font-weight: bold;
  font-size: 20px;
}

/*#background-home {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

#background-home::after {
  content: "";
  background: url('http://img14.deviantart.net/4944/i/2004/154/7/8/lanman_warehouse.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

#background-home {
  background: url('http://4.bp.blogspot.com/-MqICspDGkqA/UiAbYAdM-ZI/AAAAAAAAKQE/nvB6mDzSFwE/s1600/Background-Warehouse1.jpg');
  width:100%;
  opacity: 0.2;
  position:absolute;
}
